.header {
    width: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 8px 20px;
    background: lightgray;
    color: #333;
}

.top-header-left, .top-header-right {
    display: flex;
    gap: 30px;
    font-size: 15px;
}

.top-header a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 24px;
    padding: 16px 20px;
    background: transparent;
}

.logo img {
    height: 60px;
    width: auto;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 12px 32px;
    border: 1px solid #000;
    border-radius: 28px;
    background: whitesmoke;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-btn,
.button-create-your-own-design,
.cart {
    padding: 12px 16px;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s;
}

.nav-btn:hover,
.button-create-your-own-design:hover,
.cart:hover {
    background: #e9e9e9;
}
